<%= form_for @story do |f| %>

    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@story.errors.count, "error") %> prohibited
            this Story from being saved:
          </h2>
          <ul>
            <% @story.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>