<h1>Listing stories</h1>

<%= link_to 'New story', new_story_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.text %></td>
        <td><%= link_to 'Show', story_path(story) %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story_path(story),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>